
<h1>vGram</h1> 
<p> you are signed in as <%=current_user.username%>   <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>                          
  <p><%= link_to "new vPost", new_vpost_path %></p>
 
 <div class = "vposts_container"> 
   <%@vposts.each do |vpost|%>
   <div class = "vpost"> 
  <h4><%= vpost.username %></h4>
  <h3><%=vpost.title%> </h3> 
  
<img src = "<%= vpost.image %>" class = "vpost_img">
<%# <%= link_to 'Show', vpost_path(vpost) %> 
<p> <%= vpost.description%> </p>
  </div>
  <% end %>
</div>