
<h1>vGram</h1>
 
 <div class = "vposts_container"> 
   <%@vposts.each do |vpost|%>
   <div class = "vpost"> 
  <h4><%= vpost.username %></h4>
  <h3><%=vpost.title%> </h3> 
  
<img src = "<%= vpost.image %>" class = "vpost_img">
<%# <%= link_to 'Show', vpost_path(vpost) %> 
<p> <%= vpost.description%> </p>
  </div>
  <% end %>
</div>